{% extends "layout.html" %}

{% block page_title %}
  Proving Things to Government
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Government as a Platform (GaaP)</span>
     	Proving things
      </h1>

	    <div class="text">
	      <p class="lede">
	        &ldquo;As Government, we will never ask you to tell us about something we already know (or can find out).&rdquo;
	      </p>
	    </div>

      <h2 class="heading-medium">About the prototypes</h2>

      <p>We've started to design some prototypes for Proving things to Government.</p> 

      <p>Here is a collection of prototypes we're testing.</p>

			<h2 class="heading-medium">Current prototypes</h2>

			<ul class="list list-bullet">
				<li><span class="heading-small">Residency - Proving you're in or out of the country</span>
				<ul>
					<li><a href="/residency/">Release 1 (MVP)</a></li>
				</ul>
				</li>
				<li><span class="heading-small">Income - Proving you're earning and/or above a determined threshold</span>
				<ul>
					<li><a href="/income/1/">Release 1 (MVP)</a></li>
					<li><a  href="/income/2/">Release 2 (Family Casework)</a></li>
				</ul>
				</li>
			</ul>

      <h2 class="heading-medium">People to contact</h2>
		<ul class="list list-bullet">
			<li>
				<a href="mailto:Andrew.Moores@digital.homeoffice.gov.uk" title="Minion">
					Andrew Moores - Developer
				</a>
			</li>
			<li>
				<a href="mailto:Greg.Smith@digital.homeoffice.gov.uk" title="Walter White">
					Greg Smith - Service Delivery
				</a>
			</li>
			<li>
				<a href="mailto:Kenny.Grant@digital.homeoffice.gov.uk" title="Blue Rinse">
					Kenny Grant - Product Manager
				</a>
			</li>
			<li>
				<a href="mailto:Mark.Goddard@digital.homeoffice.gov.uk" title="Rick Grimes">
					Mark Goddard - Designer
				</a>
			</li>
			<li>
				<a href="mailto:Mitchell.Agoma@digital.homeoffice.gov.uk" title="Phil Mitchell">
					Mitchell Agoma - Quality Assurance
				</a>
			</li>
			<li>
				<a href="mailto:Oliver.Beal@digital.homeoffice.gov.uk" title="Emmet">
					Oliver Beal - User Researcher
				</a>
			</li>
			<li>
				<a href="mailto:Raj.Kissy@digital.homeoffice.gov.uk" title="Justin Suarez">
					Raj Kissy - Business Analyst
				</a>
			</li>
			<li>
				<a href="mailto:Richard.Machen@digital.homeoffice.gov.uk" title="Gonzo">
					Richard Machen - Product Owner / Stakeholder Engagement
				</a>
			</li>
		</ul>
    </div>
  </div>
</main>

{% endblock %}


