{% extends "layout.html" %}

{% block page_title %}
  Proving Things to Government
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Government as a Platform (GaaP)</span>
     	Proving things
      </h1>

	    <div class="text">
	      <p class="lede">
	        &ldquo;As Government, we will never ask you to tell us about something we already know (or can find out).&rdquo;
	      </p>
	    </div>

      <h2 class="heading-medium">About Proving Things to Government</h2>

      <p>We've started to research and design how we can reduce the load on both customers and caseworkers by using data we already have in Government.</p> 

      <p>We're also developing rules based API's which unlock the ability for other services to use our work.</p>

      <p>Here is a collection of prototypes we're testing based on those API's. They're helping to inform our direction and test our work.</p>

			<h2 class="heading-medium">Current prototypes</h2>

			<ul class="list list-bullet">
				<li><a href="/residency/">Residency - Proving you're in or out of the country</a></li>
				<li><a href="/income/">Income - Proving you're earning and/or above a determined threshold</a></li>
			</ul>

      <h2 class="heading-medium">People to contact</h2>
		<ul class="list list-bullet">
			<li>
				<a href="mailto:Richard.Machen@digital.homeoffice.gov.uk">
					Richard Machen - Chief Admin Boy
				</a>
			</li>
			<li>
				<a href="mailto:Greg.Smith@digital.homeoffice.gov.uk">
					Greg Smith - Scouse
				</a>
			</li>
			<li>
				<a href="mailto:Mark.Goddard@digital.homeoffice.gov.uk">
					Mark Goddard - Box drawer
				</a>
			</li>
			<li>
				<a href="mailto:Oliver.Beal@digital.homeoffice.gov.uk">
					Oliver Beal - Gopher
				</a>
			</li>
			<li>
				<a href="mailto:Andrew.Moores@digital.homeoffice.gov.uk">
					Andrew Moores - Sminter
				</a>
			</li>
		</ul>
    </div>
  </div>
</main>

{% endblock %}


